{% load static %}
<div class="comment_element">
  <div class="comment-body">
    <div class="comment-header">
      <div class="comment-info">
        <div class="account-image">
          <a href="{{comment.user.get_absolute_url}}">
            <div class="rounded-circle" style="width:25px;height:25px;">
              <img src="{{comment.user.photo.url}}" alt="" id="account_image" class="rounded-circle" style="object-fit: cover;object-position: center;height: 100%;width:100%;">
            </div>
          </a>
        </div>
        <span><a href="">{{comment.user.username}}</a> </span>

      </div>

    </div>
    <div class="book-comment-content">
      <p>{{comment.content}}</p>
    </div>
    <div class="comment-footer">

      <span class="comment-date">{{comment.created_at|date:"M d, Y"}}</span>
    </div>
</div>
</div>