header {
  padding: 5px 0;
  height: 70px; }
  header .logo_area {
    width: fit-content;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px; }
    header .logo_area img {
      height: 60px; }
    header .logo_area #logo_text {
      font-family: monospace;
      font-size: 35px;
      font-weight: bold; }
  header .search_area {
    position: relative;
    height: 100%;
    width: 100%; }
    header .search_area .search {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
    header .search_area #search_input {
      padding: 0 10px 0 10px;
      border-radius: 15px 15px 15px 15px;
      width: 100%;
      max-width: 600px;
      height: 50%; }
    header .search_area #search_autocomplete {
      display: none;
      flex-direction: column;
      justify-self: center;
      width: 100%;
      max-width: 600px;
      max-height: 310px;
      flex-wrap: wrap;
      gap: 2px;
      position: absolute;
      top: 75%;
      margin-left: auto;
      left: 50%;
      transform: translate(-50%, 0%);
      border-radius: 0 0 15px 15px;
      overflow: hidden;
      padding: 5px;
      z-index: 999; }
      header .search_area #search_autocomplete .search_autocomplete_item {
        display: flex;
        width: 100%;
        overflow: hidden;
        flex-direction: row;
        padding: 3px;
        align-items: center;
        height: 30px;
        border-width: 50px;
        border-color: black;
        border-radius: 10px; }
        header .search_area #search_autocomplete .search_autocomplete_item img {
          width: 15px;
          height: 15px;
          margin-right: 10px; }
        header .search_area #search_autocomplete .search_autocomplete_item a {
          width: calc(100% - 25px);
          height: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
  header .log_in_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: right;
    padding-right: 30px; }
    header .log_in_area button {
      height: 50%;
      padding: 0 15px;
      border-radius: 15px;
      margin: 3px 0; }

.account_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding-right: 30px;
  justify-content: right;
  height: 100%; }
  .account_list img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; }

.account-dropdown {
  background-color: transparent;
  border: 0; }

.burger_menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 10px; }
  .burger_menu .search_area {
    position: relative;
    width: 100%; }
    .burger_menu .search_area .search {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
    .burger_menu .search_area #search_input {
      padding: 0 10px 0 10px;
      border-radius: 15px 15px 15px 15px;
      width: 100%;
      max-width: 600px;
      height: 50px; }
    .burger_menu .search_area #search_autocomplete {
      display: none;
      flex-direction: column;
      justify-self: center;
      width: 100%;
      max-width: 600px;
      flex-wrap: wrap;
      gap: 3px;
      border-radius: 0 0 15px 15px;
      overflow: hidden;
      padding: 5px;
      z-index: 999; }
      .burger_menu .search_area #search_autocomplete .search_autocomplete_item {
        display: flex;
        width: 100%;
        overflow: hidden;
        flex-direction: row;
        padding: 3px;
        align-items: center;
        height: 30px;
        border-width: 50px;
        border-color: black;
        border-radius: 10px; }
        .burger_menu .search_area #search_autocomplete .search_autocomplete_item img {
          width: 15px;
          height: 15px;
          margin-right: 10px; }
        .burger_menu .search_area #search_autocomplete .search_autocomplete_item a {
          width: calc(100% - 25px);
          height: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
  .burger_menu .burger-item {
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue; }
  .burger_menu hr {
    color: aliceblue;
    width: 95%; }
  .burger_menu .log_in_area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-right: 30px; }
    .burger_menu .log_in_area button {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 30%;
      height: 45%;
      padding: 0 15px;
      border-radius: 15px; }

.navbar-burger {
  display: none; }

.modal-footer {
  flex-wrap: wrap;
  gap: 10px; }

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 15px; }

.modal_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px; }

@media screen and (max-width: 1000px) {
  #logo_text {
    display: none; }

  #registerButton {
    display: none; } }

/*# sourceMappingURL=header.css.map */
