{%extends "base/base.html"%}
{% load static %}

{% block extra_css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'bootstrap/css/slick.min.css'%}">
<link rel="stylesheet" href="{% static 'bootstrap/css/slick-theme.css'%}"/>
<link rel="stylesheet" href="{% static 'css/home.css'%}">
<link rel="stylesheet" href="{% static 'css/book_element.css'%}">
<link rel="stylesheet" href="{% static 'css/discussion_element.css'%}">
<link rel="stylesheet" href="{% static 'css/news_element.css'%}">
{% endblock %}

{%block title%}{{title}} {%endblock%}

{%block content%}
    <div class="home_welcome">
            <h1>Вітаємо на <br><span id="word_main_home">Головній</span> сторінці</h1>
            <img src="{%static 'img/My project.png'%}" alt="home_logo">
    </div>

        {%if popular_books%}
    <h3 class="home_label">Популярні книги:</h3>



    <div class="popular-books">
            {%for book in popular_books%}
                    {%include "base/book_element.html" with book=book%}
            {%endfor%}
    </div>

    {%endif%}
    {%if popular_discussions%}
    <h3 class="home_label">Популярні обговорення:</h3>



    <div class="discussion-slider">
        
        <div class="discussion-slick">
            {%for discussion in popular_discussions%}
                {%include "base/discussion_element.html" with discussion=discussion%}
            {%endfor%}

        </div>
    </div>

    {%endif%}

    {%if new_books%}

    <h3 class="home_label">Нові книги:</h3>



        <div class="new_books">
            {%for book in new_books%}
                    {%include "base/book_element.html" with book=book%}
            {%endfor%}
        </div>
        
    {%endif%}
    {%if new_discussions%}
        <h3 class="home_label">Нові обговорення:</h3>



        <div class="discussion-slider">
        
            <div class="discussion-slick">
            {%for discussion in new_discussions%}
                {%include "base/discussion_element.html" with discussion=discussion%}
            {%endfor%}
            </div>
        </div>
    {%endif%}
{%endblock%}