{%extends "base/base.html"%}
{% load static %}
{% load tags %}

{% block extra_css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/home.css'%}">
<link rel="stylesheet" href="{% static 'css/search.css'%}">
<link rel="stylesheet" href="{% static 'css/book_element.css'%}">
<link rel="stylesheet" href="{% static 'css/discussion_element.css'%}">
<link rel="stylesheet" href="{% static 'css/profile_element.css'%}">
{% endblock %}

{%block title%} {{title}}  {%endblock%}

{%block content%}
    <div class="search_info_area">
      <h1>За результатами:</h1>
      <h2>{{search}}</h2>
      <h3>{%if page_obj%}Знайдено {{ page_obj.paginator.count }} результати{%else%}Нічого не знайдено{%endif%}</h3>
    </div>
    {%if page_obj%}
    <div class="active_search_area">
              
      <button type="button" data-bs-toggle="modal" data-bs-target="#FilterModal" class="btn">Фільтрувати</button>
    </div>
    {%if type == 'book'%}
    <div class="search_result_profiles_books">

    {% for book in page_obj %}

        {%include "base/book_element.html" with book=book%}

    {%endfor%}

    </div>
                {%endif%}
    {%if type == 'discussion'%}
    <div class="search_result_discusions">
   {% for discussion in page_obj %}

        {%include "base/discussion_element.html" with discussion=discussion%}

    {%endfor%}
    </div>
                {%endif%}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item {% if page_obj.has_previous %}{%else%} disabled{%endif%}">
            <a class="page-link" href="{% if page_obj.has_previous %}?{% query_transform request page=page_obj.previous_page_number %}{%endif%}" tabindex="-1" aria-disabled="true">Попередня</a>
          </li>
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?{% query_transform request page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
            {%endif%}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page_obj.number }}</span>
          </li>
            {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?{% query_transform request page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
            {%endif%}
              <li class="page-item{% if page_obj.has_next %}{%else%} disabled{%endif%}">
                <a class="page-link" href="{% if page_obj.has_next %}?{% query_transform request page=page_obj.next_page_number %}{%endif%}">Наступна</a>
              </li>

        </ul>
      </nav>

    <div class="modal fade" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Фільтри</h5>
            <button type="button" class="close rounded-circle" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <form action="" method="get" class="modal_form" id="Filter_form">
                                                                {% csrf_token %}
                   {{filter.form}}
            </form>
            </div>
            <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Фільтрувати" form="Filter_form">
        </div>
        </div>
    </div>
    </div>
        {%endif%}
{%endblock%}