
.home_welcome{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 20px 20px;
    font-weight: bold;
    font-family: Optima;
    font-style: italic;
    & h1{
        font-size: 45px;
    }
    & img{
        height: 320px;
    }
}
.home_label{
    margin: 20px 0;
    font-weight: bold;
    font-family: Optima;
    font-style: italic;
}
.recent-slider{
    width: 82%;
    height:385px;
}


.new_books, .popular-books{
    width: 82%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 10px;
}
.discussion-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 82%;
    height: 410px;

    & .discussion-slick{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 410px;
        & .slick-list{
            width: 100%;
        }
    }

        
}

.home_info{
    width: 82%;
    min-height: 500px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 80px;
    justify-items: center;
    align-items: center;
    padding: 5px;
    & .last_news, .popular_categories{
        width: 100%;
        height: 100%;
        background-color: blueviolet;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;
    }
    
}
.popular_categories_area{
    & a{
        display: flex;
        width: 100%;
        height: 25px;
        justify-content: center;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
@media screen and (max-width: 680px){
    .home_welcome{
        grid-template-columns: 1fr;
        & h1{
            font-size: 35px;
        }
        & img{
            height: 280px;
        }
    }
    .home_info{
        grid-template-columns: 1fr;
    }
}
