{%extends "base/base.html"%} {% load static %} {% block extra_css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/books.css'%}" />
<link rel="stylesheet" href="{% static 'css/book_element.css'%}" />

{% endblock %} {%block title%}{{title}} {%endblock%}
{%block content%}
        <form action="{%url 'settings'%}" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
    {%for input in form%}
            {%if input.label == 'Фото'%}
                <div id="image-preview-area" class=" rounded-circle">
                    <img id="image-preview" src="{{request.user.photo.url}}" style="width:400px" alt="placeholder">
                </div>
                <div class="drag_and_drop">
                        {{input}}
                <label for="{{input.id}}" id="value">Виберіть файл</label>
                </div>
            {%else%}
              <div class="form-floating">
                  {{input}}
                  <label for="{{input.id}}">{{input.label}}</label>
                  <div class="help-block text-danger">
                    {{input.errors}}
                  </div>
              </div>
            {%endif%}
    {%endfor%}
            <input type="submit" value="Змінити" class="btn form_submit">
        </form>
{%endblock%}
