@charset "UTF-8";
.content {
  padding-top: 0; }

.book_page_header {
  width: 100%;
  height: 200px; }

.book_page_background_img {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .book_page_background_img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; }

.book_page_body_area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: fit-content;
  min-height: 500px;
  height: auto;
  padding: 5px; }

.book_page_info_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 350px;
  min-height: 500px;
  height: fit-content;
  padding: 20px 10px;
  border-radius: 0 25px 25px 0;
  background-color: #4b2e7a; }
  .book_page_info_area .book_page_cover {
    width: 95%;
    max-width: 380px;
    height: fit-content;
    overflow: hidden;
    border-radius: 15px; }
    .book_page_info_area .book_page_cover img {
      object-fit: cover;
      object-position: center;
      width: 100%; }
  .book_page_info_area .book_page_info {
    border-radius: 15px;
    background-color: #9e7bd6;
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .book_page_info_area .book_page_info span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.book_page_body {
  border-radius: 25px 0 0 25px;
  color: black;
  margin-right: auto;
  width: calc(100vw - 360px);
  background-color: #c9a8ff; }

#tabs-list {
  width: 100%; }
  #tabs-list ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50px; }
    #tabs-list ul :first-child a {
      border-radius: 0 0 0 30px; }
    #tabs-list ul :last-child a {
      border-radius: 0 0 30px 0; }
    #tabs-list ul a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 0; }
    #tabs-list ul li {
      width: 50%;
      height: 100%;
      padding: 0;
      margin: 0; }

#book_page_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  align-items: center;
  padding: 20px; }

#more {
  display: none; }

#readmore {
  background: transparent; }

.book_page_rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content; }

.book_page_comment_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px; }
  .book_page_comment_area button {
    width: 60%; }

#book_discussion_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: center; }

.rate {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  min-height: 46px;
  padding: 0 10px; }

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px; }

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 45px;
  color: #ccc; }

.rate:not(:checked) > label:before {
  content: '★ '; }

.rate > input:checked ~ label {
  color: #ffc700; }

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217; }

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08; }

@media screen and (max-width: 900px) {
  .book_page_body_area {
    flex-direction: column; }

  .book_page_info_area, .book_page_body {
    width: 100%; } }

/*# sourceMappingURL=book.css.map */
