.discussion_page_area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 0 0 30px 30px;
  overflow: hidden; }

.discussion_page_header {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px; }

.discusssion_page_info_area {
  width: calc(100% - 325px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
  border-radius: 20px; }
  .discusssion_page_info_area .discussion_page_user {
    width: 100%;
    padding: 10px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px; }
  .discusssion_page_info_area .discussion_page_title_area {
    width: 100%;
    padding: 10px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px; }
    .discusssion_page_info_area .discussion_page_title_area .discussion_page_title {
      width: calc(100% - 125px); }
    .discusssion_page_info_area .discussion_page_title_area .discussion_page_status {
      height: 100%;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .discusssion_page_info_area .discussion_page_description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis; }
    .discusssion_page_info_area .discussion_page_description p {
      display: flex;
      width: 100%;
      max-height: 200px;
      overflow: hidden;
      line-height: 25px; }
    .discusssion_page_info_area .discussion_page_description button {
      display: none;
      margin-left: auto;
      background-color: transparent; }

.discussion_reaction {
  width: 100%;
  padding: 10px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px; }
  .discussion_reaction span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; }
    .discussion_reaction span img {
      height: 32px; }

.discussion_page_comment_area {
  padding: 15px 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  min-height: 100px; }

.add_comment {
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  min-height: 100px; }
  .add_comment button {
    width: 300px;
    height: 80px;
    border-radius: 20px; }
  .add_comment textarea {
    width: calc(100% - 315px);
    min-height: 80px;
    padding: 10px;
    border-radius: 20px;
    border: 0; }

.answer_comment {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 15px; }

@media screen and (max-width: 850px) {
  .discussion_page_header {
    flex-direction: column; }

  .discusssion_page_info_area {
    width: 100%; }
    .discusssion_page_info_area .discussion_page_title_area {
      flex-direction: column; }
      .discusssion_page_info_area .discussion_page_title_area .discussion_page_title {
        width: 100%; }

  .discussion_page_book {
    display: flex;
    justify-content: center;
    align-items: center; }

  .add_comment {
    flex-direction: column; }
    .add_comment textarea {
      width: 100%; }
    .add_comment button {
      width: 100%;
      height: 45px; } }

/*# sourceMappingURL=discussion.css.map */
