{%extends "base/base.html"%}
{% load static %}

{% block extra_css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/book.css'%}">
<link rel="stylesheet" href="{% static 'css/book_element.css'%}">
<link rel="stylesheet" href="{% static 'css/discussion_element.css'%}">
<link rel="stylesheet" href="{% static 'css/commentary.css'%}">
{% endblock %}

{%block title%}Книга{%endblock%}

{%block content%}
<div class="book_page_header">
    <div class="book_page_background_img">
        <img src="{% static 'img/book_panorama_4.jpg'%}" alt="Panorama">
    </div>
</div>
<div class="book_page_body_area p-0">
    <div class="book_page_info_area">
        <div class="book_page_cover">
            <img src="{%static 'img/test_cover.jpg'%}" alt="Cover">
            <!-- {% static 'img/deffault_cover.jpg'%} -->
        </div>
        <div class="book_page_info">
            <span>Назва: Гаррі Поттер і кубок вогню</span>
            <span>Автор: Джоан Кейтлін Роалінг</span>
            <span>Статус: Закінчено</span>
            <span>Жанри: Пригодницький, Фантастика, Магія</span>
            <span>Рік: 2005</span>
            <span>Рейтинг: 4</span>
            <span>Перегляди: 75,433</span>
        </div>
    </div> 
    <div class="book_page_body">
        <div id="tabs-list" class="container-fluid p-0">  
            <ul class="row row-cols-2">  
               <li class="col-6"><a href="#book_page_info" class="tab bg-info">Інформація</a></li>  
               <li class="col-6"><a href="#book_discussion_area" class="tab bg-info">Обговорення</a></li>  
            </ul> 
            <div id="book_page_info">
                <h1>Book nameee</h1>
                <div class="book_page_description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem aliquam fuga, illo animi praesentium ducimus magnam corporis, fugit rem odit velit rerum laboriosam. Nemo reprehenderit nihil aliquid perspiciatis?<span id="dots">...</span><span id="more"> Quas, facilis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem aliquam fuga, illo animi praesentium ducimus magnam corporis, fugit rem odit velit rerum laboriosam. Nemo reprehenderit nihil aliquid perspiciatis? Quas, facilis?
                    Illum numquam harum veritatis asperiores odit ipsa quae. Consequatur suscipit dicta commodi! Velit fuga quas ex laudantium quibusdam temporibus libero molestias possimus odio neque. Nam omnis veritatis cum delectus id.
                    Similique rerum modi facilis doloribus deleniti harum perferendis, quam facere, iste, rem odit. Similique autem quibusdam dolorum possimus. Asperiores consequuntur saepe praesentium vel architecto temporibus tempore ipsa itaque cum inventore?
                    Alias esse, sint facere architecto molestiae voluptatibus reprehenderit molestias expedita repellat voluptates. Numquam perspiciatis incidunt molestias nemo ipsam possimus labore expedita qui provident ducimus nulla illo dolore accusamus, pariatur ex!</span></p>
                    <button onclick="myFunction()" id="readmore">Більше</button>
                </div>
                <div class="book_page_rating">
                    <h2>Рейтинг</h2>
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="Ідеальна">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="Хороша">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="Нормальна">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="Так-собі">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="Погана">1 star</label>
                    </div>
                    <div class="chart-container" style="position: relative; width:80%; max-width:700px;">
                    <canvas id="rating_graph"></canvas>
                    </div>
                </div>
                <div class="book_page_comment_area">
                    <h2>Комментарі</h2>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#Add_comment_Modal"  class="btn btn-dark">Додати коментар</button>
                    {%include "book/base/book_comment_element.html"%}
                    {%include "book/base/book_comment_element.html"%}
                    {%include "book/base/book_comment_element.html"%}
                </div>
            </div> 

            <div id="book_discussion_area">
                <a href="/book/dddd/add_discussion" class="btn btn-dark">Додати обговорення</a>
                {%include "base/discussion_element.html"%}
                {%include "base/discussion_element.html"%}
                {%include "base/discussion_element.html"%}
                {%include "base/discussion_element.html"%}
                {%include "base/discussion_element.html"%}
                {%include "base/discussion_element.html"%}
                {%include "base/discussion_element.html"%}
                {%include "base/discussion_element.html"%}
                {%include "base/discussion_element.html"%}
                {%include "base/discussion_element.html"%}
            </div> 
        </div>
    </div>
</div>


<style>
    .book_preview_info{
        background-image: url("{%static 'img/paper_texture.jpg'%}");
    }
    .book_preview_reactions{
        background-image: url("{%static 'img/wood_texture.jpg'%}");
    }
    .discussion-element{
        background-image: url("{%static 'img/paper_texture.jpg'%}");
    }
    .last_news{
        background-image: url("{%static 'img/paper_texture.jpg''%}");
    }
    .popular_categories{
        background-image: url("{%static 'img/paper_texture.jpg''%}");
    }
    .comment_element{
        background-image: url("{%static 'img/wood_texture.jpg'%}");
    }
</style>

<div class="modal fade" id="Add_comment_Modal" tabindex="-1" role="dialog" aria-labelledby="CommentModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CommentModalLongTitle">Додати коментар</h5>
          <button type="button" class="close rounded-circle" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="book/fff/add_comment" method="post" class="modal_form" id="login_form">
            <div class="form-floating">
              <textarea name="comment" id="modal_comment" placeholder="Ім'я" class="form-control"></textarea>
              <label for="modal_comment">Текст Коментаря</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Добавити</button>
        </div>
      </div>
    </div>
  </div>


{% block extra_script %}
{{block.super}}
<script>

var xValues = ["5(Ідеально)", "4(Добре)", "3(Нормально)", "2(Так-собі)", "1(Погано)"];
var yValues = [55, 49, 44, 24, 9];
var barColors = ["#69B34C","#ACB334" ,"#FAB733","#FF8E15", "#FF4E11"];

new Chart("rating_graph", {
  type: "horizontalBar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    scales: {
            y: {
                beginAtZero: true
            }
        }
  }
});

</script>
{%endblock%}
{%endblock%}