{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0″>
    {% block extra_css %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'img/site.webmanifest'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/header.css'%}">
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="{% static 'css/flash_message.css'%}">
    <link rel="stylesheet" href="{% static 'css/colours.css'%}">
    <link rel="stylesheet" href="{% static 'css/forms.css'%}" />
    {% endblock %}
    <title>{%block title%}Title{%endblock%}</title>
</head>
<body>
    {%include "base/header.html"%}
    <div class="content">

        {% block content %}
        
        {% endblock %}

    </div>
    {%include "base/flash_message.html"%}
    {%include "base/footer.html"%}
    {% block extra_script %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/jquery-ui.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/slick.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/Chart.js'%}"></script>
    <script src="{% static 'bootstrap/js/autosize.min.js'%}"></script>
    <script src="{% static 'js/readmore.js'%}"></script>
    <script src="{% static 'js/tabs.js'%}"></script>
    <script src="{% static 'js/sliders.js'%}"></script>
    <script src="{% static 'js/text-area.js'%}"></script>
    <script src="{% static 'js/drag&drop.js'%}"></script>
    {%if request.user.is_authenticated%}<script src="{% static 'js/reaction.js'%}"></script>{%endif%}
    <script src="{% static 'js/answer_comment.js'%}"></script>
    {% endblock %}
</body>
</html>
