{% load static %}
<a href="/book/12345" class="book_preview">
    <div class="book_preview_image">
        <img src="{%static 'img/test_cover.jpg'%}" alt="">
    </div>
    <div class="book_preview_info">
        <span title="Гаррі поттер і кубок вогню">Назва: Гаррі поттер і кубок вогню</span>
        <span title="Джоан Кейтлін Роулінг">Автор: Джоан Кейтлін Роулінг</span>
        <span>Рік: 2003</span>
    </div>
    <div class="book_preview_reactions">
        <div class="rating">
            <img src="{%static 'img/ico/star.png'%}" alt="">
            4.65
        </div>
        <div class="view">
            <img src="{%static 'img/ico/view.png'%}" alt="">
            2,321
        </div>
    </div>
</a>