{% load static %}
<div class="discussion-element">
    <a href="book/discussion/How_about_djdjdjjdjkdkddlkldld">
        <div class="discussion-user">
            <div class="rounded-circle" style="width:50px;height:50px;">
                    <img src="{%static '/img/photo_2022-06-19_21-36-19.jpg'%}" alt="" id="account_image" class="rounded-circle" style="object-fit: cover;object-position: center;height: 100%;width:100%;">
            </div>
          <span>@roman_krasawa845</span>
        </div>
        <div class="discussion-info">
            <h4 class="discussion-title">
                How abot this have happened in real jkd di gfu lo e ei luffy mugivara yonko!!!
            </h4>
            <span class="discussion-status">
                [CLOSED]
            </span>
        </div>
        <div class="discussion-view">
                <img src="{%static '/img/ico/reply.png'%}" alt="">
                134
        </div>
    </a>
</div>