{% load static %}
<div class="profile_element_area">
    <a href="/book">
        <div class="profile_img ">
            <img src="{%static '/img/photo_2022-06-19_21-36-19.jpg'%}" alt="" class="rounded-circle">
        </div>
        <div class="profile_name">
            @fodjuhbdipodj48973494
        </div>
        <div class="profile_active">
            <object class="profile_chat">
                <a href="/">
                    <img src="{%static '/img/ico/speech-bubble.png'%}" alt="">
                    <span>Чат</span>
                </a>
            </object>
            <object class="profile_add_friend">
                <a href="/" >
                    <img src="{%static '/img/ico/add.png'%}" alt="">
                    <span>Запит на дружбу</span>
                </a>
            </object>
        </div>
    </a>
</div>