html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    color: rgb(216, 196, 85);
    width:100%;
    min-height: 90vh;
}
a{  
    &:link{
        color: black;
    }
    &:visited{
        color: black;
    }
    &:focus{
        color: black;
    }
    &:active{
        color: black;
    }
    &:hover{
        color: rgb(49, 48, 48);
    }
    text-decoration: none;
}
input{
    border:0.5px;
    &:focus{
    outline:none;
}
}
button{
    border: 0.5px;
}
hr{
    width: 100%;
}
