header{
    background: rgb(186,158,8);
    background: linear-gradient(38deg, rgba(186,158,8,1) 21%, rgba(255,244,181,1) 51%, rgba(200,176,44,1) 98%);
    padding: 5px 0;
    & .logo_area{
        width: fit-content;
        padding: 0 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
        & img{
            height:60px;
        }
        & #logo_text{
            font-family: Royal_2;
            font-size: 35px;
            font-weight: bold;
        }
    }
    & .search_area{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & #search_input{
            padding-left: 10px;
            border-radius: 15px 0 0 15px;
            width:85%;
            max-width: 600px;
            height: 50%;
        }
        & #search_button{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 15px 15px 0;
            width: 15%;
            max-width: 80px;
            height: 50%;
            & img{
                height: 70%;
            }
        }
    }
    & .log_in_area{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:10px;
        align-items: center;
        justify-content: right;
        padding-right: 30px;
        & button{
            height: 50%;
            padding: 0 15px;
            border-radius: 15px;
            margin: 3px 0;
        }

    } 
}
.account_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    justify-content: right;
    height: 100%;
}

.account-dropdown{
    background-color:transparent;
    border:0;
}
.burger_menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    & .search_area{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
        & #search_input{
            padding-left: 10px;
            border-radius: 15px 0 0 15px;
            width:80%;
            height: 50%;
        }
        & #search_button{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 15px 15px 0;
            width: 10%;
            min-width: 50px;
            height: 50%;
            & img{
                height: 70%;
            }
        }
    }
    & .burger-item{
        width: 100%;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
    }
    & hr{
        color: aliceblue;
        width: 95%;
    }
    & .log_in_area{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:10px;
        align-items: center;
        justify-content: center;
        padding-right: 30px;
        & button{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 30%;
            height: 45%;
            padding: 0 15px;
            border-radius: 15px;
        }

    }
}
.navbar-burger{
    display: none;
}
.modal-footer{
    flex-wrap: wrap;
    gap: 10px;
}
.modal-body{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.modal_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
@media screen and (max-width: 1000px){
    #logo_text{
        display: none;
    }
    #registerButton{
        display: none;
    }

}
@media screen and (max-width: 680px){
    header{
        display: none;
    }
    .navbar-burger{
        display:block;
    }
    .burger_menu{
        display: flex;
    }
}