header{
    background: rgb(186,158,8);
    background: linear-gradient(38deg, rgba(186,158,8,1) 21%, rgba(255,244,181,1) 51%, rgba(200,176,44,1) 98%);
    padding: 5px 0;
    height: 70px;
    & .logo_area{
        width: fit-content;
        padding: 0 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
        & img{
            height:60px;
        }
        & #logo_text{
            font-family: Royal_2;
            font-size: 35px;
            font-weight: bold;
        }
    }
    & .search_area{
        position: relative;
        height: 100%;
        width: 100%;
        .search{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        & #search_input{
            padding:  0 10px 0 10px;
            border-radius: 15px 15px 15px 15px;
            width:100%;
            max-width: 600px;
            height: 50%;
        }
        #search_autocomplete{
            display: none;
            flex-direction: column;
            justify-self: center;
            width: 100%;
            max-width: 600px;
            max-height: 310px;
            background-color: rgb(255, 255, 255);
            flex-wrap: wrap;
            gap:2px;
            position: absolute;
            top:75%;
            margin-left: auto;
            left: 50%;
            transform: translate(-50%, 0%);
            border-radius: 0 0 15px 15px;
            overflow: hidden;
            padding: 5px;
            & .search_autocomplete_item{
                display: flex;
                width: 100%;
                overflow: hidden;
                flex-direction: row;
                padding: 3px;
                align-items: center;
                height: 30px;
                border-width: 50px;
                border-color: rgb(0, 0, 0);
                background-color: rgb(210, 252, 238);
                border-radius: 10px;
                & img{
                    width: 15px;
                    height: 15px;
                    margin-right: 10px;
                }
                & a{
                    width: calc(100% - 25px);
                    height: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            & .search_autocomplete_item:hover{
                background-color: rgb(199, 216, 216);

            }
        }
    }
    & .log_in_area{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:10px;
        align-items: center;
        justify-content: right;
        padding-right: 30px;
        & button{
            height: 50%;
            padding: 0 15px;
            border-radius: 15px;
            margin: 3px 0;
        }

    } 
}
.account_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    justify-content: right;
    height: 100%;
    & img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}

.account-dropdown{
    background-color:transparent;
    border:0;
}
.burger_menu{
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    & .search_area{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
        & #search_input{
            padding-left: 10px;
            border-radius: 15px 0 0 15px;
            width:80%;
            height: 50%;
        }
        & #search_button{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 15px 15px 0;
            width: 10%;
            min-width: 50px;
            height: 50%;
            & img{
                height: 70%;
            }
        }
    }
    & .burger-item{
        width: 100%;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
    }
    & hr{
        color: aliceblue;
        width: 95%;
    }
    & .log_in_area{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:10px;
        align-items: center;
        justify-content: center;
        padding-right: 30px;
        & button{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 30%;
            height: 45%;
            padding: 0 15px;
            border-radius: 15px;
        }

    }
}
.navbar-burger{
    display: none;
}
.modal-footer{
    flex-wrap: wrap;
    gap: 10px;
}
.modal-body{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.modal_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
@media screen and (max-width: 1000px){
    #logo_text{
        display: none;
    }
    #registerButton{
        display: none;
    }

}
@media screen and (max-width: 680px){
    header{
        display: none;
    }
    .navbar-burger{
        display:block;
    }
    .burger_menu{
        display: flex;
    }
}